<tr id='section-<%= section.id %>'>
  <td><%= section.title %></td>
  <% (1..6).to_a.each do |week| %>
    <td id="week<%= week %>-section<%=section.id%>">
      <%- if slot = section.get_slot(week) %>
        <%= slot.name %>
      <% end %>
    </td>
  <% end %>
</tr>