<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      <%= @course.name %>
      <%= link_to [:webclass, @current_webclass, @course, :media], class: 'btn btn-info pull-right btn-small span' do %>
        <i class="icon-plus icon-white"></i>
        <span>添加课件</span>
      <% end %>
    </h4>
    <table class='table'>
      <thead>
        <tr class="success">
          <th width='60'></th>
          <th>文件名</th>  
          <th width='60'>大小</th>
          <th width='100'>创建时间</th>
          <th width='100'>操作</th>
        </tr>
      </thead>
      <tbody id='media-list'>
        <%= render @media %>
      </tbody>
    </table>
    <%= paginate @media %>
  </div>
  <div class='span-r pull-right'>
    <%= render 'webclass/courses/courses' %>
  </div>
</div>
