 <div class='span6'>
   <ul class='inline'>
     <li>
       作者 <%= link_to question.user.nickname, question.user %>
     </li>
     <li>
       <%= question.answers_count %>个回答
     </li>
     <li>
       <%= question.readings_count %>个查看
     </li>
     <li><%# question.comments_count %>个评论</li>
     <li><%= question.up_votes %>票支持</li>
     <li><%= question.down_votes %>票反对</li>
   </ul>
 </div>
 <div class='span2 pull-right text-right'>
 
 </div>