<div class='content'>
  <%= simple_form_for @medium, url: [:user, current_user, :media], :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <%= f.association :folder, as: :select, collection: current_user.folders, label: '目录', prompt: '请选择目录' %>    
    <%= f.association :column, as: :select, collection: Column.all, label: '投稿', prompt: '请选择栏目' %>    

    <%= render 'shared/file_upload_buttons' %>
  <% end %>
</div>
<%= render 'shared/file_upload_template' %>
<%= render 'shared/file_download_template' %>