<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      全部课件
      <%= render 'shared/media/add_btn' %>
    </h4>
    <ul id='media' class='inline image-text-list clearfix'>
      <%= render partial: 'shared/media/medium', collection: @media %>
    </ul>
    <%= paginate @media %>
  </div>

  <div class='span-r pull-right'>
    <%- if @current_user.id == current_user.id %>
      <%= link_to '目录管理', [@current_namespace, :folders].flatten, class: 'btn btn-info btn-small' %>
    <% end %>
    <%= render 'shared/folders/list' %>
  </div>
</div>
