<%= simple_form_for @note, :html => {:id => "new_post_form", :class => 'form-horizontal'} do |f| -%>	
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.hidden_field(:kind, :value => 'article') %>	
	<%= f.input :title, :label => '标题' %>
	<%= f.input :note_category_id, :label => "分类", :collection => nested_set_options(NoteCategory, current_user.root_category){|i| "#{'-' * i.level} #{i.name}"} %>
	<%= f.input :body, :as => :kindeditor, :label => '内容', :input_html => { :width => 620, :height => 450 } %>
	<%= render "shared/tag_select", :f => f %>
	<div class="form-actions">
		<%= f.submit "发布", :class=>'btn btn-primary' %>&nbsp;
		<button class="btn" type="reset">保存为草稿</button>
	</div>
<% end %>