<% content_for(:head) do -%>
<%= javascript_include_tag 'common' %>
<%= javascript_include_tag 'live-comment-preview' %>
<% end -%>
<div class='span-left'>
	<div id='post' class='post'>
		<h4><i class="icon-large <%= @note.avatar %>"></i>  <%= link_to(@note.title, note_path(@note)) %></h4>
		<div class="footer clearfix">
		</div>
		<div class='body'>
			<%= raw @note.body %>
		</div>
	</div>
	<div class='clearfix'></div>
	<br />
</div>
<div class='span-right'>
	<%= render "categories" %>
</div>

