<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      <%= @folder.name %>
      <%= render 'shared/media/add_btn' %>
    </h4>
    <table class='table'>
      <thead>
        <tr class="success">
          <th width='60'></th>
          <th>文件名</th>  
          <th width='60'>大小</th>
          <th width='100'>创建时间</th>
          <th width='60'>目录</th>
          <th width='100'>操作</th>
        </tr>
      </thead>
      <tbody id='media-list'>
        <%= render partial: 'shared/media/medium', collection: @media %>
      </tbody>
    </table>
    <%= paginate @media %>
  </div>
  <div class='span-r pull-right'>
    <%- if @current_group_member.admin? %>
      <%= link_to '目录管理', [@current_namespace, :folders].flatten, class: 'btn btn-info btn-small' %>
    <% end %>
    <%= render 'shared/folders/list' %>
  </div>
</div>
