<div class='span-left'>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal span-form'}) do |f| %>
	<h3>注册海学网</h3><br />

	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.input :email, :required => true, :autofocus => true %>
	<%= f.input :name, :required => true %>
	<%= f.input :password, :required => true %>
	<%= f.input :password_confirmation, :required => true %>
	<%# f.input :field_id, :label => "领域", :collection => Field.all.collect{|d|[d.name, d.id]}, :include_blank => false, :required => true, :hint => "选择您所关注的领域，将会结识更多同行业的朋友  "  %>
	<div class="form-actions">
		<%= f.submit :class => "btn btn-primary" %>
	</div>
	<% end %>
</div>
<div class='span-right'>
	<%= link_to t('already have one account? login'), new_user_session_path, :class=>'btn' %>
</div>
