<div class='row'>
  <div class='span-l'>
    <h4><%= @message.title %></h4>
    <ul>
      <%= render partial: 'shared/messages/reply', locals: {message: @message} %>
    </ul>
    
    <h4 class='border'>回复列表</h4>
    <ul id='reply-list'>
      <%= render partial: 'shared/messages/reply', collection: @replies, as: :message %>
    </ul>

    <%= render 'shared/messages/reply_form' %>
  </div>
  <div class='span-r pull-right'>
    <%= render 'shared/messages/actions' %>
  </div>
</div>