<div class='span-l'>
  <%= render 'hot_webclasses' %>
</div>
<div class='span-r'>
	<%= render 'nav' %>
  <div class='row'>
    <div class='span-l'>
      <ul id='webclasses' class='inline image-text-list clearfix'>
        <%- @webclasses.each do |webclass| %>
          <li class='hover'>
            <div class='image'>
              <%= link_to avatar_tag(webclass), webclass %>
            </div>
            <div class='content'>
              <h4><%= link_to webclass.name, webclass %></h4>
              <p>
                <%= webclass.school_name %>
              </p>
              <p>
              	成员(<%= webclass.members_count %>) 访问(<%= webclass.readings_count %>)
              </p>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @webclasses %>

    </div>
    <div class='span-r'>
      <%- if current_user and current_user.groups.webclass.count > 0 %>
        <%= render 'my_webclasses' %>
      <% end %>
      <%= render 'latest_webclasses' %>
    </div>
  </div>
</div>

 
