<div class='row'>
  <div class='span-l'>
    <h4><%= @message.title %></h4>
    <ul>
      <%= render partial: 'reply', locals: {message: @message} %>
    </ul>
    
    <h4 class='border'>回复列表</h4>
    <ul id='reply-list'>
      <%= render partial: 'reply', collection: @replies, as: :message %>
    </ul>

    <%= render 'reply_form', url: reply_webclass_webclass_message_path(@current_webclass, @message) %>
  </div>
  <div class='span-r pull-right'>
    <%= render 'menu' %>
  </div>
</div>