<div class='row'>
  <div class='span-l'>
    <h4><%= @current_webclass.current_term.name %></h4>
    <%= form_for @section, :url => webclass_webclass_sections_path(@current_webclass), validate: true, remote: true, :html => {:class => 'form-horizontal', id: 'section-form', data: {type: "script", method: :post}} do |f| %>
      <table class='table content'>
        <thead>
          <tr>
            <th>名称</th>
            <th>开始时间</th>  
            <th>结束时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id='section-list'>
          <%- @sections.each do |section| %>
            <tr id='section-<%= section.id %>'>
              <%= render 'section', section: section %>
            </tr>
          <% end %>
          <tr>
            <td>
              <%= f.text_field :title %>
            </td>
            <td>
              <%= f.text_field :start_at, class: 'timepicker' %>
            </td>
            <td>
              <%= f.text_field :end_at, class: 'timepicker' %>
            </td>
            
            <td>
              <%= f.submit '添加课时', class: 'btn btn-success', disable_with: "正在提交..."  %>
          </td>
          </tr>

        </tbody>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class='span-r pull-right'>
    <%= render 'webclass/settings/menu' %>
  </div>
</div>

<%- content_for :left do %>
  <h3><%= @current_webclass.name %></h3>
<% end %>