<li id='follower-<%= follow.follower.id %>' class='list-item'>
  <div class='avatar'>
    <%= link_to user_avatar_tag(follow.follower, 'm'), follow.follower %>
  </div>
  <div class='content'>
    <p>
      <%= link_to follow.follower do %>
        <i class='icon icon-resize-horizontal'></i>
        <%= follow.follower.name %>
      <% end %>
    </p>
    <p>
      <%= link_to '移出粉丝', user_user_follower_path(current_user, follow), method: :delete, disable_with: "请稍后...", class: 'btn btn-danger btn-small', remote: true, data: {type: 'script'} %>
    </p>
  </div>
</li>

