<h2>修改个人基本信息</h2>

<%= simple_form_for(current_user, url: me_setting_path(current_user)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :nickname, :required => true, :autofocus => true, label: '昵称' %>
  <%= f.input :description, label: '一句话介绍自己' %>

  <div class="form-actions">
    <%= f.button :submit, "更新" %>
  </div>
<% end %>