 <table class='meta table'>
  <tbody>
   <%- if @current_group.is_class %>
    <tr>
      <td><span class="badge badge-success">2</span></td> 
      <td>位老师</td>
    </tr>
    <tr>
      <td>
        <span class="badge badge-success">4</span> 
      </td>
      <td>位家长</td>
    </tr>
    <tr>
      <td>
        <span class="badge badge-success">8</span>
      </td>
      <td>
        位同学
      </td>
    </tr>
   <% else %>
    <tr>
     <td>
       <span class="badge badge-success"><%= @current_group.members_count %></span>
     </td>
     <td>
       位成员
     </td>
    </tr>
   <% end %>

   <tr>
     <td>
       <span class="badge badge-info"><%= @current_group.posts_count %></span> 
     </td>
     <td>
       个话题
     </td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-info"><%= @current_group.albums_count %></span> 
     </td>
     <td>
       个相册
     </td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-info"><%= @current_group.media_count %></span>
     </td>
     <td>
       个课件
     </td>
   </tr>
   <tr>
     <td>
       <span class="badge badge-warning"><%= @current_group.readings_count %></span>
     </td>
     <td>
       次访问
     </td>
   </tr>
 </tbody>
</table>
