<div class='span-l'>
  <h4 class='border'>分类标签<h4>
  <%= render 'hot_groups' %>
</div>
<div class='span-r'>
  <%= render 'nav' %>
  <div class='row'>
    <div class='span-l'>
      <ul id='image-text-list' class='inline'>
        <%- @groups.each do |group| %>
          <li class='hover'>
            <div class='image'>
              <%= link_to avatar_tag(group), group %>
            </div>
            <div class='content'>
              <h4><%= link_to group.name, group %></h4>
              <p>
                <%= truncate group.body, :length => 72, :omission => '......' %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @groups %>
    </div>
    <div class='span-r'>
      <%= render 'hot_posts' %>
      <%= render 'hot_media' %>
    </div>
  </div>
</div>

 
