<div class='row'>
  <div class="span6">
    <h3><%= @group.name %></h3>
    <p><%= @group.body %></p>
  </div>
  
  <div class='span3 pull-right'>  
    <%- if @group_member %>
      <%= render 'actions' %>
    <% else %>
      <p><%= link_to "申请加入", apply_group_path(@group), remote: true, class: 'btn btn-info pull-right' %></p>
    <% end %>
    <br class='clearfix' /><br />
    <p>共<%= @group.groups_members_count %>个成员</p>

  </div>
</div>
