<div class='span-l'>
  
  <%- if @recommand_users.size > 10 %>
    <h4>您可能感兴趣的人<p class="text-warning">您关注的人少于10人， 系统为您推荐感兴趣的人</p>
</h4>
    <ul id='item-list' class='inline'>
  	  <%= render partial: 'follow', collection: @recommand_users, as: :user %>
    </ul>
  <% else %>
			<%= render 'user/activities/nav' %>
  <% end %>
</div>
<div class='span-r pull-right'>
  <div class='margin clearfix'>
    <%=link_to '创建班级', [:new, :user, current_user, :webclass], class: 'btn btn-success pull-right span' if current_user.teacher? %>
  </div>
  <div class='margin clearfix'>
    <%=link_to '创建群组', [:new, :user, current_user, :group], class: 'btn btn-info pull-right span' %>
  </div>
  <%- if @recommand_users.size > 10 %>
  <% else %>
    <%= render 'webclasses' %>
    <%= render 'groups' %>
  <% end %>
</div>