<ul class="nav nav-tabs">
	<li class="active" >
		<%= link_to "所有", my_posts_path("all") %>
	</li>
	<li>
		<%= link_to "文章", my_posts_path("article") %>
	</li>
	<li>
		<%= link_to "图片", my_posts_path("pic") %>
	</li>
	<li>
		<%= link_to "文档", my_posts_path("doc") %>
	</li>
	<li>
		<%= link_to "链接", my_posts_path("link") %>
	</li>
	<li>
		<%= link_to "音频", my_posts_path("audio") %>
	</li>
	<li>
		<%= link_to "视频", my_posts_path("video") %>
	</li>
	
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			新建
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<%= link_to "文章", new_post_path("article") %>
			</li>
			<li>
				<%= link_to "图片", new_post_path("pic") %>
			</li>
			<li>
				<%= link_to "文档", new_post_path("doc") %>
			</li>
			<li>
				<%= link_to "链接", new_post_path("link") %>
			</li>
			<li>
				<%= link_to "音频", new_post_path("audio") %>
			</li>
			<li>
				<%= link_to "视频", new_post_path("video") %>
			</li>
		</ul>
	</li>
</ul>
