<div class='white-card span'>
  <h3>注册好班级</h3>

  <%= simple_form_for(resource, :as => resource_name, validate: true, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, :autofocus => true, label: '邮箱' %>
    <%= f.input :nickname, label: '昵称' %>
    <%= f.input :password, label: '密码' %>
    <%= f.input :password_confirmation, label: '重复密码' %>
    <%= f.button :submit, "注 册", class: 'btn btn-primary', disable_with: "正在提交..." %>
  <% end %>
</div>

<div class="widget-filled pull-right">
  <%= image_tag 'jxt.png' %>
  <br /><br />
  <h4 class='border'>使用社交网络帐号登录</h4>
  <h4>
    <%= image_tag 'weibo_connect_32.png' %>
  </h4>
  <h4>
    <%= image_tag 'qq_connect_32.png' %>
  </h4>
  <h4>
    <%= image_tag 'renren_connect_30.png' %>
  </h4>
  <h4>
    <%= image_tag 'douban_connect_32.png' %>
  </h4>
</div>



