<div class='row'>
  <div class='span-l'>
    <ul>
    <%- @assignments.each do |assignment| %>
      <li id='assignment-<%= assignment.id %>'>
        <h4><%= assignment.title %></h4>
        <div class='avatar'>
          <%= user_avatar_tag(assignment.creator, 's') %>
        </div>
        <div class='content'>
          <p><%= assignment.body %></p>
          <div class='item item-info clearfix'>
            <%= assignment.creator.nickname %>
            <span class='time'>
              <%= format_datetime assignment.created_at %>
            <span>
          </div>
        </div>
      </li>
    <% end %>
    </ul>

  </div>
  <div class='span-r pull-right'>
    <%= render 'courses' %>
  </div>
</div>