<div class='clearfix post-list'>

	<div class='user'>
		<%= image_tag question.user.avatar_url(:s) || "http://placehold.it/50x50" %>
		<p><%= question.user.name %></p>
	</div>
	
	<div class='content'>
		<h4><%= link_to(question.title, group_question_path(@current_group, question)) %></h4>
		<div class="entrybody">
			<%= truncate(question.body, :length => 180, :omission => '......') %>
		</div>
	</div>

	
	<div class='clearfix'>
		<table width='99%'>
			<tr>
				<td>
					回答
				</td>
				<td>
					<span class="label label-warning"><%= question.comments_count %></span>
				</td>
			</tr>
			<tr>
				<td>
					评论
				</td>
				<td>
					<span class="label label-info"><%= question.comments_count %></span>
				</td>
			</tr>
			<tr>
				<td>
					时间
				</td>
				<td>
					<span class="label">1小时前</span>
				</td>
			</tr>
		</table>
		<p></p>
	</div>
</div>