<div class='row'>
  <div class='span6'>
    <%= @sections.each do |section| %>
      <ul class="nav nav-tabs">
        <li>
          <h3><%= section.title %></h3>
        </li>
        <li class='pull-right'>
          <%= link_to '添加课程', new_course_course_section_slot_path(@course, section), remote: true, data: {type: "script"} %>
        </li>
      </ul>
      <%= render partial: 'slots', collection: section.slots %>
    <% end %>
  </div>
  <div class='span3 pull-right'>
    <%= render 'form' %>
    <%= render 'list' %>
  </div>
</div>
<%= content_for :left do %>
  <%= render 'course/settings/nav' %>
<% end %>