<div class='profile clearfix'>
	<div class='info'>
		<p>
			<h3><%= @user.login %></h3>
			<% if current_user and current_user.login === @user.login %>
			<% end %>
		</p>
	</div>
</div>

<div class='nav'>
	<%= tabs_tag(:namespace => :user_timeline_menus, :open_tabs => { :id => "user_inedex_menus", :class => "nav nav-tabs" }, 	:builder => MenuTabBuilder) do |tab| %>
		<%= tab.timeline '关注', root_path %>
		<%= tab.post '我关注的人', user_posts_path(@user.login, "all") %>
		<%= tab.question  '关注我的人', user_questions_path(@user.login) %>
	<% end %>
</div>
