<div class='entry'>
	<div class='left'>
		<p>
			<%= image_tag answer.user.avatar_url(:s) || "http://placehold.it/50x50" %>
		</p>
		<p>
			<%= h answer.user.login %>
		</p>
		<br />
		<p>
			<%# linked_tag_list(@question.tags) %> 
		</p>
	</div>

	<div class="right">
		<div class='meta'>
			<table>
				<tr>
					<td width='120'>
						回答于 <%= format_post_date(answer.created_at) %>
					</td>
					<td width='80'>
						<%= link_to "编辑", edit_question_path(answer) %>
					</td>
					<td width='80'>
						<%= link_to '删除', answer, :confirm => '是否确定删除?', :method => :delete if current_user.login == answer.login %>
					</td>
					<td width='120'>
						<div class='pull-right'>
							<!-- JiaThis Button BEGIN -->
							<div id="ckepop">
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="http://v2.jiathis.com/code_mini/images/btn/v1/jiathis1.gif" border="0" /></a>
								<a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
							</div>
							<script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id='question' class='question'>
			<%= answer.body %>
		</div>
	</div>
</div>
