<div id='post-audio' style='display:none'>
	<%= simple_form_for [@user, @post], :html => {:id => "new_post_form", :class => 'form-horizontal', :multipart => true} do |f| -%>	
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.hidden_field(:kind, :value => 'audio') %>	
	<%= f.input :file, :class => "xlarge" %>
	<%= f.input :title, :class=>'xlarge', :label => '标题' %>
	<%= f.input :body, :label => '描述', :input_html => { :width => 620, :height => 450 } %>
	<%= f.input :tag_list, :class => 'input_field', :label => '标签' %>
	<div class="form-actions">
		<%= f.submit "发布", :class=>'btn btn-primary' %>&nbsp;
		<button class="btn" type="reset">保存为草稿</button>
	</div>
	<% end %>
</div>

