<div class='meta'>
	<table>
		<tr>
			<td width='120'>
				发布于 <%= format_post_date(@post.created_at) %>
			</td>
			<td width='80'>
				浏览 [<%= @post.views_count %>]
			</td>
			<td width='80'>
				回答 [<%= @post.comments_count %>]
			</td>
			<% if current_user.login == @user.login  %>
			<td width='80'>
				<%= link_to "编辑", edit_my_post_path(@post) %>
			</td>
			<td width='80'>
				<%= link_to '删除', [:my, @post], :confirm => '是否确定删除?', :method => :delete %>
			</td>
			<% end %>
			<td width='120'>
				<div class='pull-right'>
					<%= render "shared/jiathis" %>
				</div>
			</td>
		</tr>
	</table>
</div>
