<ul class="tabs">
	<li class="active">
		<%= link_to "推荐课件", questions_path %>
	</li>
	<li>
		<%= link_to "我的课件", questions_path %>
	</li>
	<li>
		<%= link_to "我的收藏", collect_questions_path %>
	</li>
	<li>
		<%= link_to "最新文档", questions_path %>
	</li>
	<li>
		<%= link_to "热点文档", hot_questions_path %>
	</li>
</ul>