<div id='post-video' style='display:none'>
	<%= simple_form_for [@user, @post], :html => {:id => "new_post_form", :class => 'form-horizontal span-form', :multipart => true} do |f| -%>	
		<%= render 'shared/error_messages', :object => f.object %>
		<%= f.input :file, :class => "xlarge" %>
		<%= f.input :title, :class=>'xlarge' %>
		<%= f.input :tag_list, :class=>'input_field' %>
		<div class="form-actions">
			<%= f.submit "发布", :class=>'btn btn-primary' %>&nbsp;
			<button class="btn" type="reset">保存为草稿</button>
		</div>
	<% end %>
</div>

