<tr class="<%= cycle('', 'alt') %>">
  <td><%= post.published_at.strftime('%d %b, %Y') %></td>
  <td><%= link_to (post.title == '' ? '[Untitled]' : truncate(post.title, :length => 30)), admin_post_path(post) %></td>
  <td><% tmpc = truncate(post.body, :length => 55) %><%= (tmpc != '' ? tmpc : '&nbsp;') %></td>
  <td><%= post.approved_comments.size %></td>
  <td>
    <%= link_to '编辑', admin_post_path(post) %>
    <%= form_for(post, :as => :post, :url => admin_post_path(post), :html => {:class => 'delete-item', :method => :delete}) do |form| -%>
      <%= submit_tag "删除" %>
    <% end -%>
  </td>
</tr>
