<%= simple_form_for @group, url: group_group_setting_path(@group, @group), :html => {:class => 'form-stacked, new-share'} do |f| -%> 
  <%= f.error_notification %>
  <%= f.input :name, :class=>'xlarge', :label => '名称' %>
  <%= f.input :avatar, :label => '图标' %>
  <%# f.input :kind_id, :label => t('kind'), :collection => Group.Kinds, :include_blank => false, :required => true %>
  <%= f.input :body, label: '简介' %>
  <div class="actions">
    <%= f.submit '创建', :class=>'btn btn-primary' %>
  </div>
<% end %>
