<h4 class='border'></h4>
<%= simple_form_for Message.new(parent_id: @message.id, recipient_id: @message.recipient_id == current_user.id ? @message.sender_id : current_user.id, title: @message.title), url: [:reply, @current_namespace, @message].flatten, remote: true, validate: true, :html => {id: 'reply-form', data: {type: "script"}} do |f| -%> 
  <%= f.error_notification %>
  <%= f.input :parent_id, as: :hidden %>
  <%= f.association :recipient, as: :hidden %>
  <%= f.input :title, as: :hidden %>
  <%= f.input :body, label: '直接回复' %>
  <%= f.submit '创建', :class=>'btn btn-primary', disable_with: "正在提交..." %>
<% end %> 
