<%= simple_form_for [:reply, @current_namespace, @message], :html => {:class => 'form-stacked'}, validate: true do |f| -%> 
  <%= f.error_notification %>
  <%= f.association :recipient, :label => render('contacts'), :collection => @group_members, as: :grouped_select, group_method: :members, group_label_method: :name, value_method: :user_id, input_html: {multiple: 'multiple', id: 'recipient_ids'} %>

  <%= f.input :title, :class=>'xlarge', :label => '标题' %>
  <%= f.input :body, label: '内容' %>
  <div class="actions">
    <%= f.submit '创建', :class=>'btn btn-primary', disable_with: "正在提交..." %>
  </div>
<% end %>
