<li id='assignment-<%= assignment.id %>'>
  <h4 class='border'>
    [<%= assignment.course.name %>] <%= assignment.title %>
    <%- if assignment.creator_id == current_user.id %>
      <%= link_to [:webclass, @current_webclass, assignment], method: :delete, remote: true, data: {type: "script"}, confirm: "是否确定删除 #{assignment.title}", class: 'btn btn-small btn-danger pull-right span' do %>
        <i class="icon-ban-circle icon-white"></i>
        <span>删除</span>
      <% end %>

      <%= link_to [:edit, :webclass, @current_webclass, assignment], class: 'btn btn-small btn-info pull-right span' do %>
        <i class="icon-edit icon-white"></i>
        <span>编辑</span>
      <% end %>
    <% end %>
  </h4>
  <div class='avatar'>
    <%= user_avatar_tag(assignment.creator, 's') %>
  </div>
  <div class='content'>
    <p><%= assignment.body %></p>
    <div class='item item-info clearfix'>
      <%= link_to assignment.creator.nickname, assignment.creator %>
      <div class='pull-right'>
        <span class='time'>
          <%= format_datetime assignment.created_at %>
        <span>
      </div>
    </div>
  </div>
</li>