<li class='hover'>
  <div class='image'>
    <%- if @current_namespace %>
      <%= link_to image_tag(medium.thumbnail_url), [@current_namespace, medium].flatten %>
    <% else %>
      <%= link_to image_tag(medium.thumbnail_url), [:user, medium.user, medium] %>
    <% end %>
  </div>
  <div class='content'>
    <h4>
      <%- if @current_namespace %>
        <%= link_to medium.title, [@current_namespace, medium].flatten %>
      <% else %>
        <%= link_to medium.title, [:user, medium.user, medium] %>
      <% end %>
    </h4>
    <p>
    <%- if @current_namespace and medium.folder %>
      <%= link_to medium.folder.name, [@current_namespace, medium.folder, :media].flatten, class: 'tag' %>
    <% else %>
      <%= link_to medium.column.name, [medium.column, :media], class: 'tag' %>
    <% end %>
    </p>
    <p>
      下载(<%= medium.downloads_count %>) 查看(<%= medium.readings_count %>)
    </p>
    <p>上传日期(<%= format_datetime(medium.created_at) %>)</p>
  </div>
</li>