<div class='span-l'>
  <%= render partial: 'shared/areas', locals: {resource: :schools} %>
</div>
<div class='span-r'>
  <div class='row'>
    <div class='span-l'>
      <h4 class='border'>推荐学校</h4>
      <ul id='schools' class='inline image-text-list clearfix'>
        <%- @schools.each do |school| %>
          <li class='hover'>
            <div class='image'>
              <%= link_to avatar_tag(school), school %>
            </div>
            <div class='content'>
              <h4><%= link_to school.name, school %></h4>
              <p>
                <%= school.name %>
              </p>
              <p>
                班级(<%= school.groups_count %>) 访问(<%= school.readings_count %>)
              </p>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @schools %>

    </div>
    <div class='span-r'>
      <%= render 'latest_schools' %>
      <%= render 'hot_schools' %>
    </div>
  </div>
</div>

 
