
<div class='span-l'>
  <%= render partial: 'shared/columns', locals: {resource: :media} %>
</div>
 
<div class='span-r'>
  <%= render 'nav' %>
  <div class='row'>
    <div class='span-l'>
      <ul id='media' class='inline image-text-list clearfix'>
        <%= render partial: 'shared/media/medium', collection: @media %>
      </ul>
      <%= paginate @media %>
    </div>
    <div class='span-r'>
      <%= render 'top_users' %>
    </div>
  </div>
</div>
