
<div class='item row'>
  <div class='span6 title'><%= link_to post.title, [:me, post] %></div>
  <div class='span2 text-right'>
    <%= timeago_tag post.created_at, lang: 'zh-CN' %>    
  </div>
  <div class='row'></div>
  <div class='span6'>
    <ul class='inline'>
      <li>
        <%= post.readings_count %>次阅读
      </li>
      <li>
        <%= post.comments_count %>个评论
      </li>
      <li>
        <%= post.likes_count %>次喜欢
      </li>
      <li><%= post.collections_count %>次收藏</li>
    </ul>
  </div>
  <div class='text-right span2'>
    <%= link_to '编辑', edit_me_post_path(post) %>
    <%= link_to '删除', me_post_path(post), method: :destroy %>
  </div>
  <div class='span8 line'></div>
</div>
