
<div class='span-l'>
  <%= render partial: 'shared/subjects', locals: {resource: :posts}  %>
</div>
 
<div class='span-r'>
  <%= render 'nav' %>
  <div class='row'>
    <div class='span-l'>
      <ul id='posts'>
        <%= render partial: 'shared/posts/post', collection: @posts, locals: {truncate_size: 172} %>
      </ul>
      <%= paginate @posts %>

    </div>
    <div class='span-r'>
      <h4 class='border'>文章专家</h4>
      <%= render 'top_users' %>
    </div>
  </div>
</div>

