= form_for Comment.new(:commentable_id => opts[:commentable_id], :commentable_type => opts[:commentable_type]), :class => :new_comment do |f|
  = f.hidden_field :parent_id
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type

  %label
    %h4= '评论'
    %span.for{ :style => 'display:none' }
      = t('.for')
      %i Undefined
      = link_to t('.skip'), '#', :class => :skip
  %p= f.text_area opts[:raw_content_field]
  %br
  %br
  .clearfix
    = f.submit "提交", :class => 'btn btn-primary'