<%= simple_form_for [:webclass, @current_webclass, @message], :html => {:class => 'form-stacked'}, validate: true do |f| -%> 
  <%= f.error_notification %>
  <%= f.association :member, :label => '收件人', :collection => @current_webclass.members, :required => true %>

  <%= f.input :title, :class=>'xlarge', :label => '标题' %>
  <%= f.input :body, label: '内容' %>
  <div class="actions">
    <%= f.submit '创建', :class=>'btn btn-primary', disable_with: "正在提交..." %>
  </div>
<% end %>
