<li id='message-<%= message.id %>'>
  <div class='avatar'>
    <%= user_avatar_tag message.sender, 's' %>
  </div>
  <div class='content'>
    <div class='item item-info clearfix'>
      <%= message.sender.nickname %>
      <span class='time'>
        <%= format_datetime @message.created_at %>
      <span>
   </div>
   <div class='content'><p><%= message.body %></p></div>
  </div>
  <br />
</li>
