<div class='row'>
  <div class='span-l'>
    <h4><%= @message.title %></h4>
    <%= render partial: 'reply', locals: {message: @message} %>
    <h4 class='border'>回复列表</h4>
    <%= render 'replies' %>

    <%= render 'reply_form', url: reply_webclass_webclass_message_path(@current_webclass, @message) %>
  </div>
  <div class='span-r pull-right'>
    <%= render 'menu' %>
  </div>
</div>