<h4 class='border'>
  发送班邮给 <%= @member.name %>
</h4>
<%= simple_form_for @message, url: [:create_message, :webclass, @current_webclass, @member], validate: true, remote: true, html: {data: {type: "script"}} do |f| -%> 
  <%= f.error_notification %>
  <%= f.input :title, :class=>'xlarge', :label => '标题' %>
  <%= f.input :body, label: '内容' %>
  <%= f.input 'send_to_parent', label: '同时抄送给给家长', as: :radio_buttons, :collection => [['是', true], ['否', false]], :item_wrapper_class => 'inline', :checked => false if @member.student? %>
  <%= f.submit '发送', :class=>'btn btn-primary', disable_with: "正在提交..." %>
<% end %>
