<div class="meta">
  <ul>
    <li class="comments"> 浏览(<%= post.readings_count %>)</li>
    <li class="comments"> 评论(<%= post.comments_count %>)</li>

    <li class="date">发表于 <%= format_post_date(post.created_at) %></li>
    <% unless post.tags.empty? -%>
      <li class="tags"><%= linked_tag_list(post.tags) %></li>
    <% end -%>
  </ul>
  <%- if current_user and post.belongs?(current_user) %>
    <div class="pull-right"><%= link_to "编辑", edit_me_post_path(post) %></div>
  <% end -%>
</div>
