<%= tabs_tag(:namespace => :post_nav, :open_tabs => { :id => "post_nav", :class => "nav nav-tabs" }, :builder => MenuTabBuilder) do |tab| %>
  <%= tab.home raw("所有分享"), me_activities_path %>
  <%= tab.category raw("分类管理"), manage_me_categories_path %>
  <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">	
		创建 <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li> <%= link_to "新建笔记", new_me_note_path %> </li>
		<li> <%= link_to "新建相册", new_me_album_path %> </li>
		<li> <%= link_to "新建文档", new_me_document_path %> </li>
		<li> <%= link_to "新建视频", new_me_video_path %> </li>
		<li> <%= link_to "新建音频", new_me_audio_path %> </li>
		<li> <%= link_to "新建书签", new_me_link_path %> </li>
	</ul>
  </li>
<% end %>
