<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      [<%= @album.name %>] 文件上传
      <%= render 'shared/albums/show_btn' %>
    </h4>
    <%= render 'shared/file_upload_form', record: @image, url: [:user, current_user, @album, :images]%>
  </div>
  <div class='span-r pull-right'>
    <%- if @current_user.id == current_user.id %>
      <%= link_to "相册管理", [:user, current_user, :albums], class: 'btn btn-success', remote: true, data: {type: 'script'} %>
    <% end %>
    <%= render partial: 'shared/albums/list', locals: {namespace: [:user, @current_user], albums: @albums} %>
  </div>
</div>
