<li id='question-<%= question.id %>'>
  <div class='avatar'>
    <br />
    <%= link_to user_avatar_tag(question.user, 's'), question.user %>
  </div>
  <div class='content'>    
    <h4 class='border'>
      <%= link_to question.title, question %>
      <%- if question.grade %>
        <%= link_to question.grade.name, [question.grade, :questions], class: 'tag span pull-right' %>
      <% end %>
      <%- if question.subject %>
        <%= link_to question.subject.name, [question.subject, :questions], class: 'tag span pull-right' %>
      <% end %>
    </h4>
    <p>
      <%- if truncate_size %>
        <%= truncate question.body, :length => truncate_size, :omission => '......' %>
      <% else %>
        <%= raw question.body %>
      <% end %>
    </p>
    <div class='item item-info clearfix'>
      <span>作者(<%= link_to question.user.nickname, question.user %>)</span> 
      <span>阅读(<%= question.readings_count %>)</span>
      <span>回答(<%= question.answers_count %>)</span>
      <%- if current_user and current_user.id == question.user_id %>
        <%= link_to question, method: :delete, class: '', confirm: "是否删除 #{ question.title}" do %>
          <i class='icon icon-ban-circle'></i>
          <span>删除</span>
        <% end %>
  
        <%= link_to [:edit, question], class: '' do %>
          <i class='icon icon-edit'></i>
          <span>编辑</span>
        <% end %>
      <% end %>
      <div class='pull-right'>
        <%= format_datetime question.created_at %>
      </div>
    </div>
  </div>
</li>
