<div class='left'>
  <%= render 'users/profile' %>
  <%= render 'me/menu' %>
</div>
<div class='right'>
  <%= render 'me/posts/nav' %>
  <h3><%= @post.title%></h3>
  <p>
	 <%= @post.body %>
  </p>
</div>
