<div class='row'>
  <div class='span-l'>
    <h4 class='border'>
      <%= @category.name %>
      <%= render partial: 'shared/posts/add_btn', locals: {namespace: [:user, @current_user], categories: @categories} %>
    </h4>
    <ul>
      <%= render partial: 'shared/posts/post', collection: @posts, locals: {namespace: [:user, @current_user], truncate_size: 172} %>
    </ul>
  </div>
  <div class='span-r pull-right'>
    <%- if current_user.id == @current_user.id  %>
      <%= link_to "分类管理", [:user, current_user, :categories], class: 'btn btn-info' %>
    <% end %>
    <%= render 'shared/categories/list' %>
  </div>
</div>
