<li id='post-<%= post.id %>'>
  <div class='avatar'>
    <br />
    <%= link_to user_avatar_tag(post.user, 's'), post.user %>
  </div>
  <div class='content'>    
    <h4 class='border'>
      <%= link_to post.title, [@current_namespace||[:user, post.user], post].flatten %>
      <%- if @current_namespace and post.category %>
        <%= link_to post.category.name, [@current_namespace, post.category, :posts].flatten, class: 'tag pull-right' %>
      <% elsif post.column %>
        <%= link_to post.column.name, [post.column, :posts], class: 'tag pull-right' %>
      <% end %>
    </h4>
    <p>
      <%- if truncate_size %>
        <%= truncate post.body, :length => truncate_size, :omission => '......' %>
      <% else %>
        <%= raw post.body %>
      <% end %>
    </p>
    <div class='item item-info clearfix'>
      <span>作者(<%= link_to post.user.nickname, post.user %>)</span> 
      <span>阅读(<%= post.readings_count %>)</span>
      <span>评论(<%= post.comments_count %>)</span>
      <%- if current_user and current_user.id == post.user_id %>
        <%= link_to [@current_namespace||[:user, post.user], post].flatten, method: :delete, confirm: "是否删除 #{post.title}" do %>
          <i class='icon icon-ban-circle'></i>
          <span>删除</span>
        <% end %>
  
        <%= link_to [:edit, @current_namespace||[:user, post.user], post].flatten do %>
          <i class='icon icon-edit'></i>
          <span>编辑</span>
        <% end %>
      <% end %>
      <div class='pull-right'>
        <%= format_datetime post.created_at %>
      </div>
    </div>
  </div>
</li>
