<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id='index-page' class="container">
      <div class="row">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
