<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="group-page" class="container">
      <div class="row">
        <div class='span-l'>
          <%= avatar_tag(@current_group, 'b') %>
          <%- if @current_group.is_class %>
            <p><%= @current_group.school.name %></p>
          <% end %>
          <h4><%= @current_group.name %></h4>
          <p><%= @current_group.body %></p>
          <%= render 'groups/left' %>
        </div>
        <div class='span-r'>
          <%= render 'groups/menu' %>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
