<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="page container">
      <div class="content">
        <%= bootstrap_flash %>
        <div class='left'>
          <%= render 'users/profile' %>
          <%= render 'me/menu' %>
        </div>

        <div class='right'>
          <%= yield %>
        </div>
      </div>
    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
