<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="page" class="container">
      <div class="row">
        <div class='span-l'>
          <%= yield :left %>
        </div>

        <div class='span-r'>
          <%= render 'webclass/menu' %>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
